# Creates autopilot group specific access to /dev/uinput
KERNEL=="uinput", SUBSYSTEM=="misc", NAME="autopilot-uinput", GROUP="autopilot", MODE="0660"
