[Desktop Entry]
Type=Application
Name=Autopilot Vis (py2)
Exec=python -m autopilot.run vis
Icon=autopilot
Comment=Inspect autopilot-enabled application internals (python 2 version).
