[Desktop Entry]
Type=Application
Name=Autopilot Vis (py3)
Exec=python3 -m autopilot.run vis
Icon=autopilot
Comment=Inspect autopilot-enabled application internals (python 3 version).
