Source: autopilot
Section: python
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Thomi Richards <thomi.richards@canonical.com>
Build-Depends: debhelper (>= 9.0.0),
               gir1.2-ibus-1.0,
               gir1.2-gconf-2.0,
               gir1.2-gtk-2.0,
               python (>= 2.6),
               python-dbus,
               python-setuptools,
               python-sphinx,
               python-testtools,
               python-testscenarios,
               python-xlib,
               python-zeitgeist,
Standards-Version: 3.9.3
Homepage: https://launchpad.net/autopilot
Vcs-bzr: https://code.launchpad.net/+branch/ubuntu/autopilot

Package: python-autopilot
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         ${python:Depends},
         gir1.2-gconf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-2.0,
         gir1.2-ibus-1.0,
         python-dbus,
         python-junitxml,
         python-qt4,
         python-qt4-dbus,
         python-testscenarios,
         python-testtools,
         python-xdg,
         python-xlib,
         python-zeitgeist,
Description: Utility to write and run integration tests easily
 The autopilot engine enables to ease the writing of python tests
 for your application manipulating your inputs like the mouse and
 keyboard. It also provides a lot of utilities linked to the X server
 and detecting applications.

