Source: autopilot
Section: python
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Thomi Richards <thomi.richards@canonical.com>
Build-Depends: debhelper (>= 9.0.0),
               dh-python,
               dvipng,
               gir1.2-gconf-2.0,
               gir1.2-gtk-3.0,
               gir1.2-ibus-1.0,
               gir1.2-ubuntu-app-launch-2 | gir1.2-upstart-app-launch-2,
               graphviz,
               libjs-jquery,
               libjs-underscore,
               liblttng-ust-dev,
               python3-all-dev (>= 3.4),
               python3-dateutil,
               python3-dbus,
               python3-decorator,
               python3-evdev,
               python3-fixtures,
               python3-flake8,
               python3-gi,
               python3-junitxml,
               python3-psutil,
               python3-pil,
               python3-setuptools,
               python3-sphinx,
               python3-subunit,
               python3-testscenarios,
               python3-testtools,
               python3-xlib,
               sphinx-common,
               texlive-latex-extra,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/autopilot
Vcs-bzr: https://code.launchpad.net/+branch/ubuntu/autopilot
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3

Package: python3-autopilot
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         gir1.2-ubuntu-app-launch-2 | gir1.2-upstart-app-launch-2,
         libjs-underscore, libjs-jquery,
         python3-dateutil,
         python3-dbus,
         python3-decorator,
         python3-fixtures,
         python3-gi,
         python3-junitxml,
         python3-psutil,
         python3-pil,
         python3-subunit,
         python3-testscenarios,
         python3-testtools,
         udev,
Recommends: python3-xlib,
            python3-evdev,
            gir1.2-gconf-2.0,
            gir1.2-glib-2.0,
            gir1.2-gtk-3.0,
            gir1.2-ibus-1.0,
            libautopilot-gtk (>= 1.4),
            libautopilot-qt (>= 1.4),
            python3-autopilot-trace,
            recordmydesktop,
Breaks: libautopilot-gtk (<< 1.4),
	libautopilot-qt (<< 1.4),
Description: Utility to write and run integration tests easily (Python 3)
 The autopilot engine enables to ease the writing of python tests
 for your application manipulating your inputs like the mouse and
 keyboard. It also provides a lot of utilities linked to the X server
 and detecting applications.

Package: python3-autopilot-trace
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
         python3-autopilot,
Description: Support for tracing in autopilot (Python 3)
 This package contains the binary lttng trace point for tracing
 autopilot tests. This is useful when using autopilot to exercise
 an instrumented application.

Package: autopilot-touch
Architecture: all
Section: metapackages
Depends: ${misc:Depends},
         autopilot-qt5,
         qttestability-autopilot,
         python3-autopilot,
         python3-evdev,
         fbset,
Description: Autopilot support for the ubuntu Touch platform
 This metapackage exists to depend on the packages needed to install and use
 autopilot on the Ubuntu Touch platform.

Package: autopilot-desktop
Architecture: all
Section: metapackages
Depends: ${misc:Depends},
         at-spi2-core,
         gir1.2-gconf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         python3-autopilot,
         python3-xlib,
         bamfdaemon,
Recommends: python3-autopilot-vis,
            python3-evdev,
Description: Autopilot support for the ubuntu Desktop platform
 This metapackage exists to depend on the packages needed to install and use
 autopilot on the Ubuntu Desktop platform.

Package: python3-autopilot-vis
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         gnome-icon-theme,
         python3-autopilot,
         python3-dbus,
         python3-dbus.mainloop.qt,
         python3-pyqt4,
Recommends: python3-lxml,
Description: visualisation application for Autopilot (Python 3)
 The Autopilot vis tool allows you to inspect an application introspection
 tree. It is a useful tool for test authors, but not required to run autopilot
 tests.

Package: python3-autopilot-tests
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         libautopilot-gtk (>= 1.4),
         libautopilot-qt (>= 1.4),
         python3-autopilot,
         python3-dateutil,
         python3-dbus.mainloop.qt,
         python3-evdev,
         python3-pyqt4,
         python-windowmocker,
         qmlscene,
         recordmydesktop,
Description: Tests for the autopilot functional test tool. (Python 3)
 This package contains tests for the python3-autopilot package.
 You can use this package to verify that autopilot is functioning
 correctly, or to copy the techniques used in the autopilot tests
 themselves.
